/*.bottambar{
    background-color: black;
    height: 30px;
}
.container{
    height: 700px;
    width: 70%;
    margin: 0px auto;
}
.subjects courses HNDIT semester1 visual{
    color: gray;
    text-decoration: none;
}*/